html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

a.accent {
  color: grey;
}

a.accent:hover {
  color: black;
}

h1, h2 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

label {
  cursor: pointer;
}

.tag {
  display: inline-block;
  padding: .4rem 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 2rem;
}

.btn {
  padding: 1.5rem 1rem;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #ff5c5c;
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 49%;
  height: 40rem;
  background-color: #eef3f6;
  border-bottom-left-radius: 4.8rem;
}

header .wrapper {
  position: relative;
  max-width: 111rem;
  margin: 0 auto;
  padding: 4.8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  header label[for="toggleMenu"] {
    display: none;
  }
}

header input[type="checkbox"] {
  display: none;
}

header input[type="checkbox"]:checked + .nav {
  position: absolute;
  top: 12rem;
  left: 3rem;
  right: 3rem;
  z-index: 9;
  padding: 3rem;
  background-color: white;
  -webkit-box-shadow: -4px 8px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -4px 8px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  header input[type="checkbox"]:checked + .nav {
    position: initial;
    left: initial;
    right: initial;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .nav {
  display: none;
}

@media (min-width: 800px) {
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .nav li {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}

header .nav li:not(:last-child) {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  header .nav li:not(:last-child) {
    margin-right: 4.6rem;
    margin-bottom: 0;
  }
}

header .nav li.divider {
  width: 100%;
  height: 1px;
  background-color: grey;
}

@media (min-width: 800px) {
  header .nav li.divider {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

header .nav a {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}

@media (min-width: 800px) {
  header .nav a {
    font-size: 1.6rem;
  }
}

main .wrapper {
  position: relative;
  max-width: 111rem;
  margin: 0 auto;
  padding: 4.8rem 3rem;
}

@media (min-width: 800px) {
  main .wrapper {
    padding-top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .img-wrapper {
  margin-left: -3rem;
}

@media (min-width: 800px) {
  main .img-wrapper {
    max-width: 46%;
    margin-left: 0;
  }
}

main .img-wrapper img {
  width: 150vw;
  max-width: 96rem;
}

@media (min-width: 800px) {
  main .img-wrapper img {
    width: initial;
    max-width: initial;
  }
}

main .content-wrapper {
  padding-top: 8rem;
}

@media (min-width: 800px) {
  main .content-wrapper {
    padding-top: 0;
    max-width: 46%;
  }
}

main .feature-wrapper {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .feature-wrapper .tag {
  margin-right: 1.5rem;
}

main .feature-wrapper .title {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: grey;
}

main .text-wrapper h1 {
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  main .text-wrapper h1 {
    font-size: 6.2rem;
  }
}

main .text-wrapper p {
  margin-bottom: 3rem;
  line-height: 1.6;
  color: grey;
}

main .btn-wrapper button {
  margin-right: 1.8rem;
}

main .btn-wrapper span {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 4px;
}

footer {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .attribution {
  font-size: 1.4rem;
  text-align: center;
}

footer .attribution a {
  color: #ff5c5c;
  text-decoration: underline;
}

footer .attribution a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */