$breakpoint: 800px;
$gap: 3rem;
$font-family-primary: 'Barlow', sans-serif; 
$font-family-secondary: 'Barlow Condensed', sans-serif; 
$primary: hsl(0, 100%, 68%);

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: grey;
    }

    &.accent {
        color: grey;
        &:hover {
            color: black
        }
    }
}

h1, h2 {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    
}

ul, ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

label {
    cursor: pointer;
}

.tag {
    display: inline-block;
    padding: .4rem 1rem;
    font-family: $font-family-secondary;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 2rem;
}

.btn {
    padding: 1.5rem 1rem;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: white;
    background-color: $primary;
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
}

body {
    font-family: $font-family-primary;
    font-size: 1.8rem;
    overflow-x: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 49%;
        height: 40rem;
        background-color: #eef3f6;
        border-bottom-left-radius: 4.8rem;
        

    }
}

header {
    .wrapper {
        position: relative;
        max-width: 111rem;
        margin: 0 auto;
        padding: 4.8rem $gap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    label[for="toggleMenu"] {
        @media (min-width: $breakpoint)
        {
            display: none;
        }
    }

    input[type="checkbox"] {
        display: none;
        // mobile menu open
        &:checked + .nav {
            position: absolute;
            top: 12rem;
            left:  $gap;
            right: $gap;
            z-index: 9;
            padding: $gap;
            background-color: white;
            box-shadow: -4px 8px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
    
            // hide mobile menu if viewport width > breakpoint
            @media (min-width: $breakpoint)
            {
                position: initial;
                left: initial;
                right: initial;
                padding: 0;
                background-color: transparent;
                box-shadow: none;
                display: flex;
                flex-direction: row;
            }
        }
    }

    .nav {
        display: none;

        @media (min-width: $breakpoint)
        {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        li {
            font-family: $font-family-secondary;
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 2rem;

                @media (min-width: $breakpoint)
                {
                    margin-right: 4.6rem;
                    margin-bottom: 0;
                }
            }


            &.divider {
                width: 100%;
                height: 1px;
                background-color: grey;

                @media (min-width: $breakpoint)
                {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                }

            }
        }

        a {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
            display: inline-block;

            @media (min-width: $breakpoint)
            {
                font-size: 1.6rem
            }
        }

    }
}

main {
    .wrapper {
        position: relative;
        max-width: 111rem;
        margin: 0 auto;
        padding: 4.8rem $gap;

        @media (min-width: $breakpoint)
        {
            padding-top: 9rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    .img-wrapper {
        margin-left: -$gap;

        @media (min-width: $breakpoint)
        {
            max-width: 46%;
            margin-left: 0;
        }

        img {
            width: 150vw;
            max-width: 96rem;

            @media (min-width: $breakpoint)
            {
                width: initial;
                max-width: initial;
            }
        }
    }

    .content-wrapper {
        padding-top: 8rem;
        @media (min-width: $breakpoint)
        {
            padding-top: 0;
            max-width: 46%;
        }
    }

    .feature-wrapper {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        .tag {
            margin-right: 1.5rem;
        }

        .title {
            font-family: $font-family-secondary;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: grey;
        }
    }

    .text-wrapper {
        h1 {
            margin-bottom: 1.5rem;
            letter-spacing: 1px;

            @media (min-width: $breakpoint)
            {
                font-size: 6.2rem;
            }
        }

        p {
            margin-bottom: $gap;
            line-height: 1.6;
            color: grey;
        }
    }

    .btn-wrapper {

        button {
            margin-right: 1.8rem;
        }

        span {
            
            font-family: $font-family-secondary;
            font-size: 1.4rem;
            color: gray;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }
}

footer {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    .attribution {
        font-size: 1.4rem;
        text-align: center;

        a {
            color: $primary;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}